* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.headertop {
    background-color: rgb(238, 231, 231);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.headertop .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    border: 1px solid rgb(230, 205, 205);
}
.headersecond {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.headersecond .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.logo img {
    width: 2rem;

}

.headersecondright {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 1rem;
}

.headersecond a {
    text-decoration: none;
    color: black;
}

#menubutton {
    background-color: transparent;
    border: none;
}

.languageselect{
    display: none;
}

@media only screen and (min-width: 768px) {
    .headertop .container {
        justify-content: space-between;
    }

    .languageselect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }
    .languageselect img {
        width: 1rem;
    }
  }

@media only screen and (min-width: 992px) {
    #menubutton {
        display: none;
    }
  }